<div class="container-fluid mt--7">
    <!-- Table -->
    <!-- Dark table -->
    <div class="row mt-5">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">Canary Status</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Status</th>
                            <th scope="col">Completion</th>
                            <th scope="col">Message</th>
                            <th scope="col">Failed Check</th>
                            <th scope="col">lastTransitionTime</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of canaryDeployments">

                            <th scope="row">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{row.name}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{row.canaryWeight}}
                            </td>
                            <td>
                  <span class="badge badge-dot">
                    <i class="{{row.badge}}"></i> {{row.status}}
                  </span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">{{row.canaryWeight}}%</span>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                 aria-valuenow={{row.canaryWeight}}% aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">{{row.message}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">{{row.failedChecks}}</span>
                                </div>
                            </td>

                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">{{row.lastTransitionTime}}</span>
                                </div>
                            </td>
<!--                            <td class="text-right">-->
<!--                                <div ngbDropdown placement="bottom-right">-->
<!--                                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>-->
<!--                                        <i class="fas fa-ellipsis-v"></i>-->
<!--                                    </a>-->
<!--                                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)">Action</a>-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
                        </tr>
                        <!--              <tr>-->
                        <!--                <th scope="row">-->
                        <!--                  <div class="media align-items-center">-->
                        <!--                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/sketch.jpg">-->
                        <!--                    </a>-->
                        <!--                    <div class="media-body">-->
                        <!--                      <span class="mb-0 text-sm">Black Dashboard</span>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </th>-->
                        <!--                <td>-->
                        <!--                  $3,150 USD-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                  <span class="badge badge-dot mr-4">-->
                        <!--                    <i class="bg-danger"></i> delayed-->
                        <!--                  </span>-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                  <div class="avatar-group">-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                  </div>-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                  <div class="d-flex align-items-center">-->
                        <!--                    <span class="mr-2">72%</span>-->
                        <!--                    <div>-->
                        <!--                      <div class="progress">-->
                        <!--                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>-->
                        <!--                      </div>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </td>-->
                        <!--                <td class="text-right">-->
                        <!--                  <div ngbDropdown placement="top-right">-->
                        <!--                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>-->
                        <!--                      <i class="fas fa-ellipsis-v"></i>-->
                        <!--                    </a>-->
                        <!--                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">-->
                        <!--                      <a class="dropdown-item" href="javascript:void(0)">Action</a>-->
                        <!--                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>-->
                        <!--                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </td>-->
                        <!--              </tr>-->
                        <!--              <tr>-->
                        <!--                <th scope="row">-->
                        <!--                  <div class="media align-items-center">-->
                        <!--                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/react.jpg">-->
                        <!--                    </a>-->
                        <!--                    <div class="media-body">-->
                        <!--                      <span class="mb-0 text-sm">React Material Dashboard</span>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </th>-->
                        <!--                <td>-->
                        <!--                  $4,400 USD-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                  <span class="badge badge-dot">-->
                        <!--                    <i class="bg-info"></i> on schedule-->
                        <!--                  </span>-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                  <div class="avatar-group">-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">-->
                        <!--                      <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg" class="rounded-circle">-->
                        <!--                    </a>-->
                        <!--                  </div>-->
                        <!--                </td>-->
                        <!--                <td>-->
                        <!--                  <div class="d-flex align-items-center">-->
                        <!--                    <span class="mr-2">90%</span>-->
                        <!--                    <div>-->
                        <!--                      <div class="progress">-->
                        <!--                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>-->
                        <!--                      </div>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </td>-->
                        <!--                <td class="text-right">-->
                        <!--                  <div ngbDropdown placement="top-right">-->
                        <!--                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>-->
                        <!--                      <i class="fas fa-ellipsis-v"></i>-->
                        <!--                    </a>-->
                        <!--                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">-->
                        <!--                      <a class="dropdown-item" href="javascript:void(0)">Action</a>-->
                        <!--                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>-->
                        <!--                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </td>-->
                        <!--              </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
